<?xml version="1.0" encoding="UTF-8"?>
<!--
This is a ROS launch file which helps run several programs all in one file
-->
<launch>
    
    <param name="projectile_description" textfile="$(find robot_simulation)/target_description/urdf/projectile.urdf" />

    <node name="my_projectile_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param projectile_description -model my_projectile" /> 

</launch>    